.container {
    margin: 50px auto;
}

.content_reg {
    max-width: 15rem;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 3rem;
    background: #fff;
    border: 1px solid #000000;
}

.content_reg input {
    padding: 0.7rem;
}

.btn {
    color: #000;
    text-decoration: none;
    background: linear-gradient(90deg, #FA709A 0%, #FEE140 100%);
    padding: 1rem 4.5rem;
}

.btn_title {
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #fff;
}