.container_head {
    max-width: 100%;
    background: #fff;
    padding: 0 5rem;
}

.head_block {
    max-width: 90rem;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    column-gap: 14rem;
}

.logo_img img{
    width: 3.3rem;
    height: 4rem;
}

.menu_container {
    display: flex;
    align-items: center;
}

.menu_block {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4rem;
    background: linear-gradient(90deg, #181a7a 0%, #a4a7ce 100%);
    padding: 0 2rem;
    border-radius: 20px;
}

.menu_block li a, .btn_nav1 {
    font-size: 1rem;
    line-height: 3.9rem;
    letter-spacing: 0.6px;
    color: #fff;
    transition: color 0.5s;
}

.menu_block li a:hover {
    color: #969696;
}

.btn_nav1 {
    border: none;
    display: inline-block;
    cursor: pointer;
}